/* PHASE 7: Online */

.online{
  position: absolute;
  top: 17px;
  left: -28px;
  background-color: green;
  color: white;
  transform: rotate(-45deg);
  padding: 5px 30px;
  box-shadow: 3px gray;
  display: block;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.profile-picture {
  overflow: hidden;
}